@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Chewy', cursive;*/
}

body {
  background-image: url(./images/background.jpg);
  background-size: contain;
  background-position: center;
  min-height: 937px;  
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

#categoriesNav li {
  min-width: calc(1/3 * 100%);
  max-width: calc(1/3 * 100%);
}

.admin {
  font-family: Arial, Helvetica, sans-serif;
}

.adminMainSelectedTab {
  background-color: #ffe5f0;
  border-bottom: 0px;
  border-width: 2px;
  font-weight: bold;
}